<header class="header">
    <nav class="navbar">
      <div class="logo">
      </div>
      <ul class="nav-menu">
        <li class="nav-item">
          <a routerLink="/mainpage" routerLinkActive="active" class="nav-link">
            <span class="link-text">Главная</span>
            <span class="link-hover"></span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/masterspage" routerLinkActive="active" class="nav-link">
            <span class="link-text">Мастера</span>
            <span class="link-hover"></span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/contacts" routerLinkActive="active" class="nav-link">
            <span class="link-text">Контакты</span>
            <span class="link-hover"></span>
          </a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>