<footer class="site-footer">
    <div class="footer-container">
      <div class="footer-logo">
      </div>
      
      <div class="footer-columns">
        <div class="footer-col">
          <h3>Контакты</h3>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> г. Жодино, ул. Примерная, 123</li>
            <li><i class="fas fa-phone"></i> +375 (29) 123-45-67</li>
            <li><i class="fas fa-envelope"></i></li>
          </ul>
        </div>
        
        <div class="footer-col">
          <h3>Часы работы</h3>
          <ul>
            <li>Пн-Пт: 9:00 - 18:00</li>
            <li>Сб: 10:00 - 16:00</li>
            <li>Вс: выходной</li>
          </ul>
        </div>
      </div>
        <p style="padding-left: 300px;">&copy; 2025 «ПрофиТехника». Все права защищены.</p>
    </div>
  </footer>