<div class="floating-order-btn">
    <button class="order-btn" (click)="openModal()">
      <i class="fas fa-tools"></i>
      <span >Оставить заявку</span>
    </button>
  </div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeModal()">
      <i class="fas fa-times"></i>
    </button>
    
    <h2>Оставить заявку</h2>
    
    <form class="feedback-form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="name">Ваше имя*</label>
        <input type="text" id="name" [(ngModel)]="formData.name" name="name" required>
      </div>
      
      <div class="form-group">
        <label for="phone">Телефон*</label>
        <input type="tel" id="phone" [(ngModel)]="formData.phone" name="phone" required>
      </div>
      
      <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea id="message" rows="4" [(ngModel)]="formData.message" name="message"></textarea>
      </div>
      
      <button type="submit" class="submit-btn">
        Отправить заявку
      </button>
    </form>
  </div>
</div>
  
    
    